*.obj
*.vcxproj
*.filters
*.tlog
*.dll
*.bat
*.xcconfig
*.pl
*.exe
*.cache
*.vcxproj
*.vpc_crc
*.ilk
*.pch
*.exp
*.lastbuildstate
*.ilk
*.log
*.pdb
*.log
*.lib
*.unsuccessfulbuild
*.idb
*.sln
*.suo
*.sdf
*.user
*.ipch
*.sh
*.o
*.P
devtools/bin/linux/ccache
devtools/bin/osx32/ccache
devtools/bin/osx32/protoc
devtools/bin/osx32/xcode_ccache_wrapper
devtools/bin/vpc
devtools/bin/vpc_linux
devtools/bin/vpc_osx
devtools/gendbg.sh
devtools/makefile_base_posix.mak
devtools/sourcesdk_def.mak
devtools/version_script.linux.txt
game/client/obj_client_episodic_linux32
game/server/obj_server_episodic_linux32
/materialsystem
/lib
/fgdlib
gcsdk/bin/linux/protoc
/mathlib/*
!/mathlib/sse.cpp
/raytrace
/thirdparty
/tier1
/utils
/vgui2
/vpc_scripts
vstdlib/vstdlib_exclude.vpc
tier0/tier0_exclude.vpc
createallprojects
creategameprojects
games.opensdf
!build.bat
!build.sh
