#Files to ignore when considering what git should commit

#Visual Studio
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.filters
*.ilk
*.lastbuildstate
*.unsuccessfulbuild
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.sln
*.cache

#CodeLite
*.project

#OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak

#Shader files
*.tmp

#Linux
*.so
*.o
*.P
*.a
createallprojects
creategameprojects
*.sh
!build.sh

#Windows
*.dll
*.exe
*.bat
!build.bat

#Mod specific
/devtools
/materialsystem
/lib
/fgdlib
/gcsdk
/mathlib/*
!/mathlib/sse.cpp
/raytrace
/thirdparty
/tier1
/utils
/vgui2
/vpc_scripts
/vstdlib
/tier0
*.lib
*.pdb
*.vpc_crc
*.sentinel
